



  <!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'usuarios' %}">usuarios</a>
    <a class="navbar-brand" href="{% url 'productos' %}">productos</a>
    <a class="navbar-brand" href="{% url 'turnos' %}">turnos</a>
    <a class="navbar-brand" href="{% url 'registro' %}">registro</a>
    <a class="btn btn-primary" href="#signup">Iniciar Sesion</a>
  </div>
</nav>
