{% extends 'base.html' %}

{
{% block contenido_que_cambia %}
<form>
    <div class="card">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="apellido">Apellido:</label>
                <input type="text" class="form-control" id="apellido">
            </div>
            <div class="form-group">
                <label for="documento">Documento:</label>
                <input type="text" class="form-control" id="documento" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="pass">Contraseña:</label>
                <input type="password" class="form-control" id="pass">
            </div>
        &nbsp;
            <div class="small; text-center">
                <button type="submit" class="btn btn-primary">registrar</button>
            </div>
        </div>
    </div>
</form>
{% endblock contenido_que_cambia %}
    }